.typing-app {
  display: flex;
  min-height: 100vh; /* ✅ FIX */
  padding: 3rem;
  background: linear-gradient(135deg, #8dacd8 0%, #f0ebd8 100%);
}

/* LEFT */
.info-panel {
  width: 25%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(18px);
  border-radius: 1.6rem;
}

.info-panel h2 {
  font-size: 2rem;
  font-weight: 900;
}

.info-panel h2 span {
    background: linear-gradient(90deg, #f6d365, #fda085);

  background-clip: text;              /* ✅ Standard */
  -webkit-background-clip: text;      /* ✅ Safari / Chrome */

  -webkit-text-fill-color: transparent;
}

.info-panel p {
  margin-top: 1rem;
  opacity: 0.8;
}

.timer {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* RIGHT */
.typing-panel {
  width: 75%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sentence {
  font-size: 1.4rem;
  line-height: 2.2rem;
  user-select: none;
  font-weight: 500;
}

.pending {
  color: #999;
}

.correct {
  color: #0d1321;
}

.wrong {
  color: #f44336;
  text-decoration: underline;
}

.hint {
  margin-top: 2rem;
  opacity: 0.6;
  font-size: 0.9rem;
}
