<div class="typing-app">

  <aside class="info-panel">
    <h2>Speed is <span>intelligence</span></h2>
    <p>Type calmly Accuracy matters more than speed</p>

    <div class="timer">⏱ {{ timeLeft }}s</div>

    <div *ngIf="finished" style="margin-top:2rem">
      <h3>🎉 Excellent Work</h3>
      <p>Accuracy <b>{{ accuracy }}%</b></p>
      <p>Completion <b>{{ completion }}%</b></p>
    </div>
  </aside>

  <section class="typing-panel">
    <div class="sentence">
      <span
        *ngFor="let l of letters"
        [class.pending]="l.status==='pending'"
        [class.correct]="l.status==='correct'"
        [class.wrong]="l.status==='wrong'">
        {{ l.char === ' ' ? '\u00A0' : l.char }}
      </span>
    </div>

    <p class="hint" *ngIf="!timerStarted">
      Start typing to begin
    </p>
  </section>

</div>
